<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>


<% if @trainer.id == current_trainer.id %>
  <%= button_to "Create a NEW Pokemon!", new_pokemon_path, :class => "button medium", :method => :get %>
<% end %>

<% if @trainer == current_trainer %>
  <% @pokemons.each do |pokemon| %>
     <% if pokemon.ndex %>
       <%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %>
     <% end %>
     <h4> <%= pokemon.name %> Level:<%= pokemon.level %> Health:<%= pokemon.health %> PokeDex#:<%= pokemon.ndex %></h4>
     
     <div id="container">
      <%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %> 
      <%= button_to "Heal!", heal_path(id: pokemon), :class => "button medium", :method => :patch %>
     </div> 

   <% end %>
<% end %>
